@{
    ViewData["Title"] = "Главная";
}

<div class="h-100 p-5 bg-body-tertiary border rounded-3">
    <h2>Запрос 1</h2>
    <p>Перейти к запросу "Просмотр данных о клиентах по имени"</p>
    <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Query1" type="button">Перейти</a>
</div>

<div class="h-100 p-5 bg-body-tertiary border rounded-3">
    <h2>Запрос 2</h2>
    <p>Перейти к запросу "Просмотр данных о клиентах по email"</p>
    <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Query2" type="button">Перейти</a>
</div>

<div class="h-100 p-5 bg-body-tertiary border rounded-3">
    <h2>Запрос 3</h2>
    <p>Перейти к запросу "Просмотр данных о сотрудниках по имени"</p>
    <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Query3" type="button">Перейти</a>
</div>

<div class="h-100 p-5 bg-body-tertiary border rounded-3">
    <h2>Запрос 4</h2>
    <p>Перейти к запросу "Просмотр данных о сотрудниках по email"</p>
    <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Query4" type="button">Перейти</a>
</div>

<div class="h-100 p-5 bg-body-tertiary border rounded-3">
    <h2>Запрос 5</h2>
    <p>Перейти к запросу "Просмотр данных о заказе по Id клиента"</p>
    <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Query5" type="button">Перейти</a>
</div>