@{
    ViewData["Title"] = "Главная";
}

<div class="h-100 p-5 bg-body-tertiary border rounded-3">
    <h2>Клиенты</h2>
    <p>Перейти к работе с клиентами</p>
    <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="GetAllClient" type="button">Перейти</a>
</div>
<div class="h-100 p-5 bg-body-tertiary border rounded-3">
    <h2>Сотрудники</h2>
    <p>Перейти к работе с сотрудниками</p>
    <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="GetAllEmployee" type="button">Перейти</a>
</div>
<div class="h-100 p-5 bg-body-tertiary border rounded-3">
    <h2>Товары</h2>
    <p>Перейти к работе с товарами</p>
    <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="GetAllProducts" type="button">Перейти</a>
</div>
<div class="h-100 p-5 bg-body-tertiary border rounded-3">
    <h2>Заказы</h2>
    <p>Перейти к работе с заказами</p>
    <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="GetAllOrders" type="button">Перейти</a>
</div>
<div class="h-100 p-5 bg-body-tertiary border rounded-3">
    <h2>Запросы</h2>
    <p>Перейти к работе с запросами</p>
    <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="GetAllQuery" type="button">Перейти</a>
</div>